
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #fondoentero{
    background-color:#465631;
}

#logo{  
    background-image: url("../imagenes/logo_footer.jpg");
    width:20rem;
    height:6rem;
    background-position: left;
    background-repeat: no-repeat;
    float: left;
}

/*Aside style */
aside p,a {
    display: inline-block;
    
}

aside {
    display: inline-block;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 5%;
    text-align: center;
}

header {
    text-align: right;
    width:100%;
    height: 20%;
  }

nav li {
    margin: 35px;
    display: inline;
    color: white;
    list-style: none;
}

nav li a {
color: white;
padding-top:2%;
}

#fondoEntero{
    background-color:#465631;
    background-size: cover;
}
#primer_sector {
    background-image: url("../imagenes/fondo_seccion_uno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: fit-content;
    height: 100vh;
    text-align: center;
    padding-bottom: 10%;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 150;
    text-shadow: 2px 2px 2px black;

}

#inky_texto h2{
    padding-top:5em;
}

.imagenes ul {
    margin: 20px 0;
}

.imagenes ul li {
    display:inline-block;
    width: 33%;
    height: 100%;
    vertical-align: text-top;
    padding: 0 15px;
    color: white;
    text-align: center;
}

.imagenes ul li:not(:last-child) {
    border-right: 1px solid white;
}

.imagenes ul li img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.imagenes ul li p {
    padding: 10px;
}
