
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
  }

#logo{  
    background-image: url("../imagenes/logoo.png");
    width:20rem;
    height: 100px;
    background-position: left;
    background-repeat: no-repeat;
    float: left;
}

/*Aside style */
aside p,a {
    display: inline-block;
    
}

.probaelrefugio {
    display: inline-block;
    background-color: white;
    background-color: rgba(131, 131, 131, 0.8);
    width: 100%;
    height: 50px;
    text-align: center;
}

header {
    text-align: right;
    width:100%;
    height: 20%;
    position:absolute;
    top:0px;
    left:0;
    width: 100%;
  }
nav {
    background-color: grey;
    height: 100px;

}
nav ul {
    background-color: grey;
}

nav li {
    margin: 35px;
    display: inline;
    color: white;
    list-style: none;
}

nav li a {
color: white;
padding-top:2%;
}

.fondoentero{
    background-size: cover;
    margin: 0px 100px;
    margin-top: 50px;
}

.fondoverde{
    background-color: #465631;
}
#primer_sector {
    background-image: url("../imagenes/fondo_seccion_uno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: fit-content;
    height: 100vh;
    text-align: center;
    padding-bottom: 10%;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 150;
    text-shadow: 2px 2px 2px black;
}

#inky_texto {
    padding-top:350px;
    padding-left: 150px;
    padding-right: 150px;
}

.imagenes ul {
    margin: 20px 0;
}

.imagenes ul li {
    display:inline-block;
    width: 33%;
    height: 100%;
    vertical-align: text-top;
    padding: 0 15px;
    color: white;
    text-align: center;
}

.imagenes ul li:not(:last-child) {
    border-right: 1px solid white;
}

.imagenes ul li img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.imagenes ul li p {
    padding: 10px;
}

.peopleComments {
    display:inline-block;
}
.peopleComments li {
    width: 33%;
    display:inline-block;
    text-align: center;
    padding: 10px;
}
.peopleComments li img {
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.formulario{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

footer {
    border-top:1px solid white;
    margin-top:32px;
    padding: 32px;
    font-size: 20px;
}

footer li {
    list-style: none;
}

footer p {
    margin-top:15px;
}

.nosotros {
    background-image:url("../imagenes/montaniaylago.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: fit-content;
    height: 100vh;
}

.nosotrosInfo {
    padding:100px;
    display: inline-block;
    text-align: center;
    padding-top:350px;
}
.nosotrosFooter {
    background-color: burlywood;
    margin-top:0px;
}

.footerProteccionTermica {
    background-color: rgb(1, 4, 196);
    margin-top:0px;
}
.footerIndumentaria {
    background-color: rgb(6, 39, 5);
    margin-top:0px;
}
.footerRefugio {
    background-color: rgb(6, 39, 5);
    margin-top:0px;
}




.carpasyrefugios {
    background-image:url("../imagenes/inky_11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.carpasyrefugios h1 {
    text-align: center;
    padding-top: 49vh;
    font-size:4em;
}

.protecciontermica {
    background-image:url("../imagenes/inky_11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.protecciontermica h1 {
    text-align: center;
    padding-top: 49vh;
    font-size:4em;
}

.refugio {
    background-image:url("../imagenes/carpacolgante.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.refugio h1 {
    text-align: center;
    padding-top: 49vh;
    font-size:4em;
}

.indumentaria {
    background-image:url("../imagenes/fondoProductos.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.indumentaria h1 {
    text-align: center;
    padding-top: 49vh;
    font-size:4em;
}

.productoscolorprotecciontermica{
    background-color: rgb(23, 105, 229);
}

.productosindumentaria{
    background-color: #465631;
}

.productoRefugio{
    background-color: #465631;
}

.productoscolor{
    background-color: #465631;
}
.productos li {
    display: inline-block;
    width: 33%;
}
.productos li p {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}
.productos li img {
    object-fit: cover;
    width: 100%;
}

.productoespecial li {
    width: 100%;
    padding: 0px 150px;
}

.formulario {
    background-color: grey;
}